# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
* text=auto

#
# The above will handle all files NOT found below
#

# Documents
*.rtf diff=astextplain
*.RTF diff=astextplain
*.md text diff=markdown

# Scripts
*.sh text eol=lf

# Serialization
*.json text
*.toml text
*.xml text
*.yaml text
*.yml text

# Text files where line endings should be preserved
*.patch -text

#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore export-ignore

# C++ sources
*.cc text diff=cpp
*.h text diff=cpp

# Basic .gitattributes for a python repo.

# Python source files
# ============
*.py text diff=python

# Jupyter notebook
*.ipynb text eol=lf

# Bazel
*.bzl linguist-language=Python
*.bazel linguist-language=Python
BUILD linguist-language=Python
.bazelversion text eol=lf

