# devtools
.idea/
*.plist
clion/
*.swp
tags
sftp-config.json
build_cmakelist.py
.akconfig
.cloudide/
*.code-workspace
vipclient-*
*.pb.h
*.pb.cc
compile_commands.json
.clangd
Pipfile

# python-package
/dist
*.egg-info
__pycache__
build
_build

# bazel
bazel-*

# cmake related
abseil-cpp
bld
bld.install
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

# mixed
.DS_Store
.ipynb_checkpoints
trace.*log

dump/

# clangd cache
.cache
external

#brpc
rpc_data

ppdump/
coverity*/
idir/

spu_wheel.name
*.whl
