[tool.black]
skip-string-normalization = true

[tool.isort]
profile = "black"
skip_glob = ["external/*", ".cache/*", "bazel-*/*"]

[tool.rstcheck]
report_level = "ERROR"
ignore_directives = ["include", "mermaid", "autoclass", "autofunction"]
ignore_roles = ["spu_code_host"]
ignore_languages = ["cpp"]

[tool.pyright]
include = ["spu", "examples"]

reportMissingImports = true
reportMissingTypeStubs = false

pythonVersion = "3.9"
pythonPlatform = "Linux"
